@charset "UTF-8";

.wrapper {
    min-height: 100vh;
    position: relative;
}

footer {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid black;
    position: absolute;
    bottom:0;
}