@charset "UTF-8";

html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

section {
    margin-top: 50px;
    text-align: center;
}

.wrapper {
    max-width: 960px;
}

.header-logo {
    position: relative;
    width: 120px;
}

.header-logo img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
}

.section-title {
    display: inline-block;
    margin: 30px 0 30px 0px;
    border-bottom: 1px solid black;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    padding: 0 30px;
}

#header ul {
    display: flex;
}

#header li {
    margin: 0 20px;
}
#header li a {
    color: black;
}

#header li :hover {
    opacity: 0.7;
}

#bicycle ul{
    display: flex;
    text-align: center;
    margin-bottom: 60px;
}

#bicycle ul li{
    padding:0 20px;
}


#about img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 30px;;
}

#about-me {
    margin-left:15px;
}

@media screen and (max-width: 600px) {
    #bicycle ul {
        display: flex;
        flex-direction: column;
    }
}
footer {
    text-align: center;
}

